.navi-button:hover :nth-child(n) {
    fill: red;
    filter: drop-shadow(0px 0px 15px red) invert(75%);
    /*animation: mymove 1s normal;*/
}

.node-active {
    fill: #61dafb !important;
}

.node-visited {
    fill: #4f786e;
}

.node-not-visited {
    fill: #e72552;
}

.shape-active {
    stroke: gold;
    stroke-width: 17;
}

.path-active {
    stroke: red;
}
.rho {
    opacity: 40%
}

.rho.rho-active {
    fill: #7ccaff;
    opacity: 50%;
}

.rho.rho-text-active {
    opacity: 100%;
}

.rho-star-active {
    fill: #7fffd4;
}

.line-path-inactive {
    stroke: url(#Ripple_Viktoriya-0);
}


.current-optimal-path-on-map {
    stroke: royalblue;
    stroke-width: 5;
    stroke-linecap: round;
    opacity: 1;
 
}

.newStar {
    fill: coral;
}

.oldStar {
    fill: darkgray;
    stroke: dimgray;
}


.newStar.oldStar {
    fill: coral;
    stroke-width: 3;
    stroke: dimgray;
}

.star {
    fill: darkgray;
}






.inputNode {
    fill: #f29400;
}

.inputNodeName {
    font-style: italic;
    text-align: right;
}


.outputNodeName {
    font-style: italic;
    text-align: left;
}