.navi-button:hover :nth-child(n) {
    fill: red;
    filter: drop-shadow(0px 0px 15px red) invert(75%);
    /*animation: mymove 1s normal;*/
}

.node-active {
    fill: #61dafb !important;
}

.node-visited {
    fill: #4f786e;
}

.node-not-visited {
    fill: #e72552;
}

.shape-active {
    stroke: gold;
    stroke-width: 17;
}

.path-active {
    stroke: red;
}

.rho-exploit-active {
    fill: aquamarine;
}

.rho-explore-active {
    fill: coral;
}

.rho-star-active {
    fill: aquamarine;
}

.line-path-inactive {
    stroke: url(#Ripple_Viktoriya-0);
}


.current-optimal-path-on-map {
    stroke: royalblue;
    stroke-width: 5;
    stroke-linecap: round;
    opacity: 1;
 
}
