.navi-button:hover :nth-child(n) {
    fill: red;
    filter: drop-shadow(0px 0px 15px red) invert(75%);
    /*animation: mymove 1s normal;*/
}

.node-active {
    fill: #61dafb !important;
}

.node-visited {
    fill: #4f786e;
}

.node-not-visited {
    fill: #e72552;
}

.shape-active {
    stroke: gold;
}

.path-active {
    stroke: red;
}

.line-path-inactive {
    stroke: url(#Ripple_Viktoriya-0);
}

.line-follower-outside {
    stroke-width: 80;
    stroke: #ffffff;
    stroke-opacity: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.line-follower-inside {
    stroke:  #000000;
    stroke-width: 30;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.current-optimal-path-on-map {
    stroke: palegreen;
    stroke-width: 5;
    stroke-linecap: round;
    opacity: 1;
 
}
